.header {
    background-color: #1e1e2f;
    color: white;
    padding: 5px 0;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logoBox {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
    border-radius: 18px;

  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .searchBox {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
  }
  
  .searchInput {
    padding: 4px 8px;
    outline: none;
    border: none;
  }
  
  .searchBtn {
    color: black;
  }
  
  .navBox {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .loginBtn {
    border: 1px solid rgb(249, 4, 4);
    padding: 6px 14px;
    border-radius: 5px;
    background-color: #ff9800;
    transition: 0.3s;
  }
  
  .loginBtn:hover {
    background-color: #ff9800;
  }
  
  .signupBtn {
    background-color: #ff9800;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .signupBtn:hover {
    background-color: #e68900;
  }
  
  .header.dark {
    background-color: #181818;
  }
  
  .dark .searchBox {
    background-color: #333;
  }
  
  .dark .searchInput {
    color: white;
  }
  
  .dark .searchBtn {
    color: white;
  }
  
  .dark .navBox button {
    color: white;
  }
  
  @media (max-width: 768px) {
    .navBox {
      display: none;
    }
  
    .menuIcon {
      display: block;
    }
  }
  
  @media (min-width: 769px) {
    .menuIcon {
      display: none;
    }
  }
  